<template name="home">
<div id="top" class="txtBox">
<input type="text" name ="ProductID" id="ProductID" width="5%" font-size="18px" class="txtBox">
<input type="text" name ="ProductName" id="ProductName" width="70%" font-size="18px" class="txtBox" value="வணக்கம்">
<input type="text" name ="Quantity" id="Quantity" width="70%" font-size="18px" class="txtBox">
<input type="text" name ="Measurement" id="Measurement" width="70%" font-size="18px" class="txtBox" readonly>

<input type="button" id="btnAdd" value="+">
</div>

<div id="Container" class="boxed" width="80%" autofocus>

</div>

<div id="Total" class="boxed" width="80%">
Total:
</div>

</template>
