<template name="sales">
	<div style="padding-left:10px;font-weight: bold;">Add sale product</div>
	<div style="display:table; padding: 20px; width:90%;">
		<div style="display:table-cell; width:15%;"><input type="text" id="sProductId" placeholder="Product Id"></div>
		<div style="display:table-cell; width:15%;"><input type="text" id="sProductName" placeholder="Product Name"></div>
		<div style="display:table-cell; width:15%;"><input type="text" id="sQuantity" placeholder="Quantity"></div>
		<div style="display:table-cell; width:15%;"><input type="text" id="sUnit" placeholder="Unit" readonly></div>
		<div style="display:table-cell; width:15%;"><input type="text" id="sProductPrice" placeholder="Product Price"></div>
		<div style="display:table-cell; width:15%;"><input type="button" id="addSale" value="Add"></div>
	</div>
	
		{{#if saleList}}
		<div style="display:table; width: 80%; padding: 20px;">
			<div style="display:table-cell; width:20%;"><label>Product Id</label></div>
			<div style="display:table-cell; width:20%;"><label>Product Name</label></div>
			<div style="display:table-cell; width:20%;"><label>Quantity</label></div>
			<div style="display:table-cell; width:20%;"><label>Unit</label></div>
			<div style="display:table-cell; width:20%;"><label>Product Price</label></div>
		</div>
		<div style="position: absolute; top: 250px; bottom:80px; overflow-y: scroll; width: 100%;">
			{{#each saleList}}
			<div style="display:table; width: 80%; padding: 20px;">
				<div style="display:table-cell; width:20%;">{{productId}}</div>
				<div style="display:table-cell; width:20%;">{{productName}}</div>
				<div style="display:table-cell; width:20%;">{{quantity}}</div>
				<div style="display:table-cell; width:20%;">{{unit}}</div>
				<div style="display:table-cell; width:20%;">{{productPrice}}</div>
			</div>
			{{/each}}
		</div>
		<div id="totalSale" style="position: absolute; bottom: 50px; text-align: center; width: 100%;">total</div>
		{{else}}
		<div align="center">No sales</div>
		{{/if}}
	
	
</template>
<!-- <template name="sales">
<div id="top" class="txtBox">
<input type="text" name ="ProductID" id="ProductID" width="5%" font-size="18px" class="txtBox">
<input type="text" name ="ProductName" id="ProductName" width="70%" font-size="18px" class="txtBox" value="வணக்கம்">
<input type="text" name ="Quantity" id="Quantity" width="70%" font-size="18px" class="txtBox">
<input type="text" name ="Measurement" id="Measurement" width="70%" font-size="18px" class="txtBox" readonly>

<input type="button" id="btnAdd" value="+">
</div>

<div id="Container" class="boxed" width="80%" autofocus>

</div>

<div id="Total" class="boxed" width="80%">
Total:
</div>

</template> -->
