<template name="sales">
	<div style="padding-left:10px;font-weight: bold; margin-right: 20px;">
		<span>Add sale product</span>
		<div align="right">
			<input type="search" id="saleSearch" placeholder="Search">
			<button id="searchSales">Search</button>
			<button id="allSales">All</button>
		</div>
	</div>
	<div style="display:table; padding: 20px; width:100%;">
		<div style="display:table-cell; width:15%;"><input type="text" id="sProductId" placeholder="Product Id"></div>
		<div style="display:table-cell; width:15%;"><input type="text" id="sProductName" placeholder="Product Name"></div>
		<div style="display:table-cell; width:15%;"><input type="text" id="sQuantity" placeholder="Quantity"></div>
		<div style="display:table-cell; width:15%;"><input type="text" id="sUnit" placeholder="Unit" readonly></div>
		<div style="display:table-cell; width:15%;"><input type="text" id="sProductPrice" placeholder="Product Price"></div>
		<div style="display:table-cell; width:15%;"><input type="text" id="sSoldPrice" placeholder="Sold Price"></div>
		<div style="display:table-cell; width:15%;"><input type="button" id="addSale" value="Add"></div>
	</div>
	
	{{#if saleExist}}
	<div style="display:table; width: 80%; padding: 20px;">
		<div style="display:table-cell; width:20%;"><label>Product Id</label></div>
		<div style="display:table-cell; width:20%;"><label>Product Name</label></div>
		<div style="display:table-cell; width:20%;"><label>Quantity</label></div>
		<div style="display:table-cell; width:20%;"><label>Unit</label></div>
		<div style="display:table-cell; width:20%;"><label>Product Price</label></div>
	</div>
	<div style="position: absolute; top: 270px; bottom:80px; overflow-y: scroll; width: 100%;">
		{{#each saleList}}
		<div style="display:table; width: 80%; padding: 20px;">
			<div style="display:table-cell; width:20%;">{{productId}}</div>
			<div style="display:table-cell; width:20%;">{{productName}}</div>
			<div style="display:table-cell; width:20%;">{{quantity}}</div>
			<div style="display:table-cell; width:20%;">{{unit}}</div>
			<div style="display:table-cell; width:20%;">{{productPrice}}</div>
			<div style="display:table-cell; width:20%;">{{soldPrice}}</div>
		</div>
		{{/each}}
	</div>
	<div style="position: absolute; bottom: 50px; text-align: center; width: 100%;">
		<label id="totalSoldPrice" style="display:inline-block;"></label>
		<label id="saleProfit" style="display:inline-block;"></label>
	</div>
	{{else}}
	<div align="center">No sales</div>
	{{/if}}
</template>
